.container {
  background: url();
  border-image: fill 0 linear-gradient(#0001, #000);
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font family and font size */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Style header */
header {
  height: 100dvh;
  background-image: url("../images/Downpic.cc-1786373799.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.logo{
  padding-left: 2rem;
  display: flex;
}

.logo img {
  width: 70px;
}

nav {
  height: fit-content;
  display: flex;
  background-color: rgba(255, 255, 255, 0.088);
  justify-content: space-between;
  position: fixed;
  width: 100%;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.navul li{
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  padding: 10px 15px;
  cursor: pointer;
}
.navul li:hover{
  background-color: rgba(0, 0, 0, 0.935);
  color: white;
  border-radius: 2rem;
  padding: 10px 15px;
  cursor: pointer;
}

.navul li a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}



/* Style main sections */
main section {
  padding: 40px;
  background-color: #f5f5f5;
}

main section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

main section p {
  margin-bottom: 30px;
  color: #666;
}

main section img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

/* Style footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Style media queries for responsive design */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  header nav ul {
    flex-direction: column;
    margin-top: 20px;
  }

  header nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}